$abc-size-1: 12px;
$abc-size-2: 14px;
$abc-size-3: 16px;
$abc-size-4: 18px;
$abc-size-5: 20px;
$abc-size-6: 24px;
$abc-size-7: 30px;
$abc-size-8: 36px;
$abc-size-9: 48px;
$abc-size-10: 60px;
$abc-size-11: 72px;
$abc-size-12: 96px;
$abc-size-13: 120px;
$abc-size-14: 240px;
$abc-size-15: 360px;

$abc-font-display: "Boogaloo", sans-serif;
$abc-font-primary: "Lato", sans-serif;

$abc-neutral-1:#F7F7F8;
$abc-neutral-2:#E0E3E6;
$abc-neutral-3:#C7CFD6;
$abc-neutral-4:#A9B8C6;
$abc-neutral-5:#6D8397;
$abc-neutral-6:#374B5D;
$abc-neutral-7:#172430;
$abc-neutral-8:#0E1A25;

$abc-primary-1:#C3D8EE;
$abc-primary-2:#1a4b80;
$abc-primary-3:#16324F;
$abc-primary-4:#132B44;
$abc-primary-5:#102338;

$abc-secondary-1:#DCF4EE;
$abc-secondary-2:#CCEFE7;
$abc-secondary-3:#A2E2D3;
$abc-secondary-4:#5CCCB2;
$abc-secondary-5:#319B82;

$abc-accent-orange-1:#FED1B3;
$abc-accent-orange-2:#FDB98B;
$abc-accent-orange-3:#F98C43;
$abc-accent-orange-4:#EF6F1A;
$abc-accent-orange-5:#DD5A03;

$abc-accent-lime-1:#F3F6D5;
$abc-accent-lime-2:#E7EDAB;
$abc-accent-lime-3:#DDE589;
$abc-accent-lime-4:#CCD84B;
$abc-accent-lime-5:#A9B52C;











