.challengePage{
  background-color: black;
  min-height: 98vh;
  padding: 1em 1em;
}

.challengeWrapper {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(150px, 1fr));
}

.radios {
  color: orange;
}



.radios input[type=radio] {
  display: none;
}

.radios input[type=radio]:checked + .radio {
  background-color: #241009;
}
