.challengePage{
  background-color: black;
  min-height: 98vh;
  padding: 1em 1em;
}

.challengeWrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.radios {
  color: orange;
  border: 3px #DDE589 solid;
  width: 150px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0.5em;
}

.radios input[type=radio] {
  display: none;
}

.radios input[type=radio]:checked + .radio {
  background-color: #241009;
}
