.challengeResult {
  width: 250px;
  display: grid;
  grid-template-rows: 25% 25% 50%;
  font-family: "Lato", sans-serif;
  color: #16324F;
}

.challengeStats{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.challengeStats h1{
  font-family: "Boogaloo", sans-serif;
  color: #16324F;
  font-size: 1.5em;
  background-color: #f4f4f4;
  border-radius: 50%;
  width: fit-content;
  padding: 8px;
  display: inline-block;

}

.secondaryInfo{
  display: inline-block;
  margin-top: 40px;
  align-self: end;
  text-align: right;

}

.challengeStats {
   grid-area: 1 / 1 / 2 / 2;
   padding: 5px;
}

.answers {  
  grid-area: 2 / 1 / 3 / 2;
  padding: 5px;
}

.note {
  grid-area: 3 / 1 / 4 / 2;
  padding: 5px;
}