@import '../base_styles.scss';
.challengePage {
    background: rgb(22,50,79);
    background: radial-gradient(circle, rgba(22,50,79,1) 0%, rgba(107,155,180,1) 0%, rgba(22,50,79,1) 56%);
    min-height: 98vh;
}

.background{
    width: 100%;
    height: 100%;
    padding: 1em 1em;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' height='320px' viewBox='0 0 897.07 504.1'%3E%3Cpath fill='%2313293d' d='M41.57 7.49L38.78 16.08 29.75 16.08 37.06 21.39 34.27 29.97 41.57 24.66 48.88 29.97 46.09 21.39 53.39 16.08 44.36 16.08 41.57 7.49z'/%3E%3Cpath fill='%23dfeff2' d='M45 5.07L42.21 13.66 33.18 13.66 40.48 18.97 37.69 27.55 45 22.25 52.3 27.55 49.51 18.97 56.82 13.66 47.79 13.66 45 5.07z'/%3E%3Cpath fill='%2313293d' d='M718.49 8.7L715.7 17.29 706.67 17.29 713.98 22.59 711.19 31.18 718.49 25.87 725.8 31.18 723.01 22.59 730.31 17.29 721.28 17.29 718.49 8.7z'/%3E%3Cpath fill='%23dfeff2' d='M721.92 6.28L719.13 14.87 710.1 14.87 717.4 20.18 714.61 28.76 721.92 23.45 729.22 28.76 726.43 20.18 733.74 14.87 724.71 14.87 721.92 6.28z'/%3E%3Cpath fill='%2313293d' d='M396.12 124.7L394.29 130.32 388.38 130.32 393.16 133.8 391.33 139.42 396.12 135.95 400.9 139.42 399.08 133.8 403.86 130.32 397.95 130.32 396.12 124.7z'/%3E%3Cpath fill='%23dfeff2' d='M398.36 123.11L396.54 128.74 390.62 128.74 395.41 132.21 393.58 137.84 398.36 134.36 403.15 137.84 401.32 132.21 406.11 128.74 400.19 128.74 398.36 123.11z'/%3E%3Cpath fill='%2313293d' d='M153.97 407.49L151.18 416.08 142.15 416.08 149.45 421.38 146.66 429.97 153.97 424.67 161.27 429.97 158.48 421.38 165.79 416.08 156.76 416.08 153.97 407.49z'/%3E%3Cpath fill='%23dfeff2' d='M157.39 405.07L154.6 413.66 145.57 413.66 152.88 418.97 150.09 427.55 157.39 422.25 164.7 427.55 161.91 418.97 169.21 413.66 160.18 413.66 157.39 405.07z'/%3E%3Cpath fill='%2313293d' d='M638.77 392.76L636.94 398.39 631.02 398.39 635.81 401.87 633.98 407.49 638.77 404.01 643.55 407.49 641.72 401.87 646.51 398.39 640.59 398.39 638.77 392.76z'/%3E%3Cpath fill='%23dfeff2' d='M641.01 391.18L639.18 396.8 633.27 396.8 638.05 400.28 636.23 405.91 641.01 402.43 645.8 405.91 643.97 400.28 648.75 396.8 642.84 396.8 641.01 391.18z'/%3E%3Cpath fill='%2313293d' d='M761.08 177.25L759.25 182.88 753.34 182.88 758.12 186.35 756.29 191.98 761.08 188.5 765.87 191.98 764.04 186.35 768.82 182.88 762.91 182.88 761.08 177.25z'/%3E%3Cpath fill='%23dfeff2' d='M763.33 175.67L761.5 181.29 755.58 181.29 760.37 184.77 758.54 190.4 763.33 186.92 768.11 190.4 766.28 184.77 771.07 181.29 765.15 181.29 763.33 175.67z'/%3E%3Cpath fill='%2313293d' d='M136.02 187.93L134.27 193.31 128.62 193.31 133.19 196.63 131.44 202.01 136.02 198.69 140.6 202.01 138.85 196.63 143.43 193.31 137.77 193.31 136.02 187.93z'/%3E%3Cpath fill='%23dde589' d='M138.17 186.41L136.42 191.79 130.76 191.79 135.34 195.12 133.59 200.5 138.17 197.17 142.75 200.5 141 195.12 145.57 191.79 139.92 191.79 138.17 186.41z'/%3E%3Cpath fill='%2313293d' d='M279.65 18.73L276.86 27.32 267.83 27.32 275.13 32.63 272.35 41.21 279.65 35.91 286.95 41.21 284.16 32.63 291.47 27.32 282.44 27.32 279.65 18.73z'/%3E%3Cpath fill='%23dde589' d='M283.08 16.31L280.29 24.9 271.26 24.9 278.56 30.21 275.77 38.79 283.08 33.49 290.38 38.79 287.59 30.21 294.89 24.9 285.87 24.9 283.08 16.31z'/%3E%3Cpath fill='%2313293d' d='M382 353.29L379.2 361.88 370.18 361.88 377.48 367.19 374.69 375.77 382 370.47 389.3 375.77 386.51 367.19 393.81 361.88 384.79 361.88 382 353.29z'/%3E%3Cpath fill='%23dde589' d='M385.42 350.88L382.63 359.46 373.6 359.46 380.91 364.77 378.12 373.36 385.42 368.05 392.73 373.36 389.94 364.77 397.24 359.46 388.21 359.46 385.42 350.88z'/%3E%3Cpath fill='%2313293d' d='M524.52 224.82L522.42 231.28 515.63 231.28 521.12 235.27 519.02 241.73 524.52 237.74 530.01 241.73 527.92 235.27 533.41 231.28 526.62 231.28 524.52 224.82z'/%3E%3Cpath fill='%23dfeff2' d='M527.1 223L525 229.46 518.21 229.46 523.7 233.45 521.6 239.91 527.1 235.92 532.59 239.91 530.49 233.45 535.99 229.46 529.2 229.46 527.1 223z'/%3E%3Cpath fill='%2313293d' d='M495.73 3.89L494.04 9.09 488.56 9.09 493 12.31 491.3 17.52 495.73 14.3 500.17 17.52 498.47 12.31 502.9 9.09 497.43 9.09 495.73 3.89z'/%3E%3Cpath fill='%23dfeff2' d='M497.81 2.42L496.12 7.63 490.64 7.63 495.07 10.85 493.38 16.05 497.81 12.84 502.24 16.05 500.55 10.85 504.98 7.63 499.5 7.63 497.81 2.42z'/%3E%3Cpath fill='%2313293d' d='M887.08 1.58L885.25 7.21 879.34 7.21 884.12 10.69 882.3 16.31 887.08 12.84 891.87 16.31 890.04 10.69 894.83 7.21 888.91 7.21 887.08 1.58z'/%3E%3Cpath fill='%23dde589' d='M889.33 0L887.5 5.63 881.58 5.63 886.37 9.1 884.54 14.73 889.33 11.25 894.11 14.73 892.28 9.1 897.07 5.63 891.15 5.63 889.33 0z'/%3E%3Cpath fill='%2313293d' d='M877.63 466.52L874.84 475.1 865.81 475.1 873.11 480.41 870.32 489 877.63 483.69 884.93 489 882.14 480.41 889.45 475.1 880.42 475.1 877.63 466.52z'/%3E%3Cpath fill='%23dfeff2' d='M881.05 464.1L878.26 472.69 869.23 472.69 876.54 477.99 873.75 486.58 881.05 481.27 888.36 486.58 885.57 477.99 892.87 472.69 883.84 472.69 881.05 464.1z'/%3E%3Cpath fill='%2313293d' d='M7.74 464.24L5.92 469.86 0 469.86 4.79 473.34 2.96 478.97 7.74 475.49 12.53 478.97 10.7 473.34 15.49 469.86 9.57 469.86 7.74 464.24z'/%3E%3Cpath fill='%23dde589' d='M9.99 462.65L8.16 468.28 2.25 468.28 7.03 471.76 5.2 477.38 9.99 473.9 14.77 477.38 12.95 471.76 17.73 468.28 11.82 468.28 9.99 462.65z'/%3E%3Cpath fill='%2313293d' d='M441.4 490.46L439.7 495.67 434.23 495.67 438.66 498.89 436.96 504.1 441.4 500.88 445.83 504.1 444.13 498.89 448.56 495.67 443.09 495.67 441.4 490.46z'/%3E%3Cpath fill='%23dfeff2' d='M443.47 489L441.78 494.21 436.31 494.21 440.74 497.43 439.04 502.63 443.47 499.42 447.9 502.63 446.21 497.43 450.64 494.21 445.17 494.21 443.47 489z'/%3E%3C/svg%3E");   
}

.header {
    background-color: $abc-accent-lime-3;
    width: 240px;
    font-size: $abc-size-4;
    color: $abc-primary-5;
    font-family: $abc-font-primary;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 2px rgba(120, 139, 45, 0.436);

}

.header svg {
    display: inline;
    fill: $abc-accent-orange-5;
}

.challengeWrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.radios {
    width: 180px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0.5em;
}
  
.radios input[type=radio] {
    display: none;
}
  
.challengeButton {
    background-color: $abc-accent-lime-3;
    box-shadow: 1px 2px 2px 2px rgba(120, 139, 45, 0.436);
    color: $abc-primary-3;
    font-family: $abc-font-primary;
    font-weight: 700;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    align-self: end;
    svg{
        margin-left: 3px;
        display: inline;
    }
}

.challengeButton:hover {
    background-color: $abc-accent-lime-5;
    color: $abc-neutral-1;
    box-shadow: 1px 0px 1px 2px rgba(120, 139, 45, 0.436);
    svg > path{
        fill: #ffffff;
    }
}