@import '../base_styles.scss';

.classroomsIndex {
  padding: $abc-size-8;
  margin-top: $abc-size-1;
  font-family: "Lato", sans-serif;
  margin-right: $abc-size-9;
  background-color: rgba(92, 204, 178, 0.662);
  box-shadow: 11px 14px 9px -13px rgba(0,0,0,0.75);
  border: double $abc-secondary-3 6px;
  border-radius: 10px;
}
.emptyState h1{
  font-family: $abc-font-display;
  font-size: $abc-size-9;
  color: $abc-primary-3;  
}
.emptyState p {
  font-family: $abc-font-primary;
  max-width: $abc-size-15;
  line-height: 1.4;
  color: $abc-primary-4;
  font-size: $abc-size-5;
}
.emptyState svg{
  fill: $abc-secondary-4;
  stroke: $abc-secondary-5;
}
.titleSection {
  min-height: 5em;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainTitle{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.titleSection h1{
  font-family: $abc-font-display;
  font-size: $abc-size-9;
  color: #16324F;
}
.addClassroomBtn {
  background-color: $abc-accent-orange-4;
  box-shadow: 0px 1.5px 3px 0px rgba(221, 90, 3, 0.6);
  margin-top: $abc-size-4;
  padding: $abc-size-1;
  border-radius: 5px 10px;
  font-family: $abc-font-primary;
  font-size: $abc-size-4;
  font-weight: 900;
  color: $abc-neutral-1;
}
.addClassroomBtn:hover{
  box-shadow: 0px 3.5px 6px 0px rgba(221, 90, 3, 0.5);  
  background-color: $abc-accent-orange-5;
  color: $abc-neutral-1;  
}

.emptyState .addClassroom{
  justify-content: flex-end;
}

.addClassroom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  form{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: $abc-size-3;
  }
  form > * {
    margin-right: 8px;
  }
  form > input {
    width: 160px;
    background-color: $abc-secondary-1;
    box-shadow: 0 2px 0 rgba(49, 155, 130, 0.251) inset;
    padding: 2px 5px;
    color: $abc-primary-3;
    font-size: $abc-size-6;
    letter-spacing: 2px;
    font-family: $abc-font-display; 
  }
  form > label{
    font-family: $abc-font-primary;
    color: $abc-secondary-5;
    font-weight: 700;
    font-size: $abc-size-6;
  }
  form > button {
    border-radius: 30%;
    box-shadow: 0px 1.5px 3px 0px rgba(49, 155, 130, 0.491);
    background-color:$abc-secondary-3;
    width: 40px;
    height: 40px;
    svg{
      stroke: $abc-secondary-5;
      fill: $abc-secondary-5;
    }
    &:hover{
      background-color:$abc-secondary-2;
    }
  }
  form > button[type="submit"]{
    box-shadow: 0px 3.5px 6px 0px rgba(221, 90, 3, 0.5);  
    background-color:$abc-accent-orange-4;
    color: $abc-neutral-2;
    svg{
      stroke: $abc-neutral-2;
      fill: $abc-accent-orange-1;
    }
    margin-bottom: 0px;
    &:hover{
    background-color:$abc-accent-orange-5;
    }
  }
}
.classroomsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.classroomItem {
    min-height: 12em;
    min-width: 8em;
    margin: 1em 0em 1em 0;
}
.classroomItem svg:nth-child(2){
   margin-top: -100px;
   margin-left: 150px;
}
.classroomItem{
  display: grid;
  justify-items: start;
}
.classroomItem h1{
  font-family: "Boogaloo", sans-serif;
  font-size: $abc-size-6;
}
//////////////////////////////////////////////
@media (max-width: 375px){
  .classroomsIndex{
    padding: $abc-size-3;
  }
  .classroomsList {
    padding: 0 20px;
  }
}

@media (max-width: 768px){
  .classroomsIndex{
    margin-right: $abc-size-5;
    padding: $abc-size-4;
  }
  .emptyState {
    display: flex;
    flex-direction: column;
  }
  .emptyState .addClassroomBtn{
    margin: 10px 0 10px 10px;
  }
  .emptyState svg{
    margin: 20px 0;
    width: 100%;
  }
  .addClassroom{
    max-width: 306px;
  }
  .classroomsList {
    padding: 0 40px;
  }
}

@media (min-width: 769px){  
  .classroomsIndex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto fit-content 50px;
    grid-column-gap: $abc-size-5;
    grid-row-gap: $abc-size-3;
  }
  .emptyState{
    grid-area: 2 / 1 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .emptyState p{
    margin-bottom: 40px;
  }
  .classroomImage{
    margin-left: 50px;
    width: 350px;
    height: 350px;
  }
  .emptyState .addClassroom{
    width: 350px;
    margin-left: 50px;
    justify-self: flex-end;
  }
  .titleSection{
    grid-area: 1 / 1 / 3 / 4;
    min-height: 12em;
  }
  .classrooms {
    grid-area: 3 / 1 / 6 / 5;
  }
  .classroomsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $abc-size-1;
  }
}

@media (min-width: 960px){ 
  .classroomsIndex{
    padding: 36px $abc-size-11;
  }
  .classroomImage{
    width: 450px;
    height: 450px;
  }
  .emptyState .addClassroom{
    width: 450px;
  }
}

@media (min-width: 1280px){ 
  .classroomsIndex{
    margin: 16px 96px 0 72px;
    padding: 48px $abc-size-13;
  }
  .classroomsList {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: $abc-size-5;
  }
  .classroomImage{
    margin-left: 120px;
  }
  .emptyState .addClassroom{
    margin-left: 120px;
  }
  .emptyState p{
    margin-bottom: 10px;
  }
}
@media (min-width: 1472px){
  .emptyState{
    margin-top: $abc-size-4;
    grid-area: 2 / 2 / 3 / 4;
  }
  .classroomImage{
    margin-left: 0px;
  }
  .emptyState .addClassroom{
    margin-left: 0px;
  }
  .classroomsList {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $abc-size-1;
  }
}