//Mobile Layout
@media (max-width: 767px){
    //Empty Classroom in Mobile
    .emptyClassroom{
        background-color: #f99f63;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 2px;
    }
    .emptyClassroom .titleSection{
        grid-area: 1 / 1 / 2 / 3;
    }

    .emptyClassroom .addStudentSection{
        grid-area: 4/ 2 / 5 / 4; 
    }
    //Occupied Classroom in Mobile
    .occupiedClassroom {
        background-color: #f99f63;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 3px;
        grid-row-gap: 2px;
    }

    .occupiedClassroom .titleSection {
        grid-area: 1 / 1 / 2 / 3;
        max-height: 8.375em;
    }

    .occupiedClassroom .addStudentSection {
        grid-area: 1 / 3 / 2 / 5;
        max-height: 8.375em;
    }

    .occupiedClassroom .classOverview {
        grid-area: 2 / 1 / 5 / 5;
        max-height: 31.25em;
        min-height: 22.5em;
    }
        
    .occupiedClassroom .studentSection {
        grid-area: 5 / 1 / 6 / 5;
    }
   
    .occupiedClassroom .studentSection ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-gap:2px;
    }
    .occupiedClassroom .studentSection ul li{
        background-color: #DDE589;
        padding: 5px;
    }

}

//Tablet and Desktop
@media (min-width: 768px){

    //Empty Classroom on Tablet/Desktop
    .emptyClassroom {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(11, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 5px;
    }

    .emptyClassroom .titleSection{
        grid-area: 2 / 2 / 3 / 5; 
    }

    .emptyClassroom .addStudentSection {
        grid-area:  7 / 7 / 9 / 10;
    }

    //Classroom with Students in Tablet/Desktop
    .occupiedClassroom {
        background-color: #f99f63;
        padding: 2em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 1em;
    }

    .occupiedClassroom .titleSection{
        grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 1em;
    }

    .occupiedClassroom .addStudentSection{
        grid-area: 3 / 1 / 4 / 2;
    }

    .occupiedClassroom .classOverview {
        grid-area: 2 / 1 / 3 / 5;
        min-height: 21.875em;
        max-height: 31.25em;
        border: 1px dotted black;
        padding: 0.5em 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .occupiedClassroom .classOverview .classChart {
        width: 55%;
        background-color: #f4f4f4;
        border-radius: 10px 10px 60px;
        padding: 0.5em;

    }

    .occupiedClassroom .classOverview .classSummary {
        width:42%;
        background-color:#f4f4f4;
        border-radius: 60px 10px 10px;
        padding: 0.5em;

    }

    .occupiedClassroom .studentSection{
        grid-area: 4 / 1 / 6 / 5;
        margin-top: 1em;
    }

    .occupiedClassroom .studentSection ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 14px;
        grid-row-gap: 8px;
    }

    .occupiedClassroom .studentSection ul li {
        min-height: 15em;
        border: 1px white solid;    
    }

}


//Base Styles  
.titleSection {
    border: 1px black dotted;
    h1{
        color: white;
    }
}

.editClassBtn {
    background-color: black;
    color: white;
}

.addStudentSection {
    border: 1px black dotted;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.addStudentBtn {
    background-color: white;
    color: black;
    max-width: 9em;
    border-radius: 3px;
    align-items: flex-end;
}


    