.wrapper {
    padding: 5px 0px;
}
.activeNavLink {
    font-weight: 600;
    font-style: italic;
}
.icon {
    float: right;
    cursor: pointer;
}
@media (max-width: 640px){
    .icon {
        padding-top: 10px;
    }
}
.iconClosed {
  color: #fff;
}
.iconOpen {
    color: #E3E5CC;
}
.studentNames {
    color: #E3E5CC;
    margin-top: 5;
    margin-left: 5px;
    padding: 10px 10px;
    border: 1px red solid;
}

.sideBarRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}