.item{
    height: 250px;
    width: 300px;
    // background-color: #60BCA7;
    border-radius: 15px;
    padding: 30px 10px 50px 30px;
    font-family: "Lato", sans-serif;
    line-height: 2em;
    color: #f4f4f4;
    font-size: 1.2em;
    background-repeat: no-repeat;
}