.item{
    max-width: 350px;
    max-height: 250px;
    display: grid;
    grid-template-columns:  repeat(auto-fill, 70px) 50px;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: end;
    margin: 1em 1em 0 0;
}

.card { 
    grid-area: 1 / 1 / 6 / 5;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(134, 189, 177, 0.632);
    box-shadow: 11px 14px 8px -10px rgba(19, 61, 58, 0.75);
    border-radius: 15px;
 }

.content { 
    padding: 0px 5px 0 30px;
    grid-area: 1 / 1 / 6 / 4;
    font-family: "Lato", sans-serif;
    color: #16324F;
    font-size: 1.2em;
 }

 .content h1{
    font-weight: bold;
    font-size: 1.2em;
 }
 
 .content p{
     font-size: 0.8em;
 }

 .content button{
     z-index: 5;
 }

 .score{
     font-family: "Boogaloo", serif;
     font-size: 1.3em;
 }
 .letter { 
    grid-area: 3 / 4 / 6 / 6;
    background-repeat: no-repeat; 
    height: 100px;
    width: 100px;
    margin-bottom: -10px;
}