@import '../base_styles.scss';

.studentShow {
  padding: $abc-size-8;
  margin-top: $abc-size-1;
  font-family: "Lato", sans-serif;
  margin-right: 5%;
  background-color: rgba(92, 204, 178, 0.662);
  box-shadow: 11px 14px 9px -13px rgba(0,0,0,0.75);
  border: double $abc-secondary-3 6px;
  border-radius: 10px;
}
  
.titleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
    h1{
      font-family: 'Boogaloo', cursive;
      font-size: 2.5em;
      color: #16324F;
    }
}

.editButtons{
  display: flex;
  justify-content: flex-end;
}

.editAccept, .editCancel {
  margin-left: 10px;
  margin-top: 10px;
  align-self: end;
  background-color: $abc-secondary-3;
  box-shadow: 3px 3px 3px 2px rgba(11, 48, 34, 0.344);
  border-radius: 5px;
  svg{
      fill: $abc-secondary-5;
  }
  &:hover{
    background-color: $abc-secondary-5;
    svg{
      fill: $abc-secondary-1;
  }
  }
}
.editCancel{
  padding-right:6px;
  padding-bottom: 1px;
}

.editForm{
  display: flex;
  flex-direction: column;
  input[type=text] {
      padding: 4px 5px;
      border: 1px solid #A3E2D3;
      background-color: #DCF4EE;
      box-sizing: border-box;
      font-size: 1.8em;
      max-width: 200px;
      font-family: "Boogaloo", sans-serif;
      color: #16324F;
  }
}

.intro {
  font-size: $abc-size-5;
  color: $abc-primary-3;
  background-color: rgba($color:#45C4A5, $alpha: .7);
  box-shadow: 3px 3px 3px 2px rgba(45, 103, 80, 0.212);
  font-weight: 500;
  max-width: 400px;
}
  
.addChallenge svg{
  justify-self: flex-start;
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .4));
}
  
.addChallenge button{
    background-color: $abc-accent-orange-4;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    min-width: 100px;
    color: $abc-neutral-1;
    margin-bottom: 10px;
    padding: 10px 1em;
    border-radius: 5px;
    flex-direction: row;
    place-items: center;
    box-shadow: -7px 5px 20px -10px rgba(19, 41, 61, 0.75);
}
  
.addChallenge button:hover{
    background-color:$abc-primary-3;
    color: $abc-primary-1;
}
  
.challengesWrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
  
.challenge{
    width: 18em;
    height: 28em;
    padding: .8em;
    box-shadow: -7px 5px 20px -10px rgba(19, 41, 61, 0.75);
    border-radius: 8% 8% 8% 8% / 8% 8% 8% 8%;
    margin-bottom: 1em;
    display: grid;
    .challengeresult{
      grid-area: 1 / 2 / 1 / 2;
    }
    
    button {
      display: inline-block;
      grid-area: 1 / 2 / 1 / 2;
      align-self: start;
      margin-left: -40px;
      justify-self: end;
    }
}

.studentChart {
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    padding-top: 25px;
    background-color: #fff;
    border-radius: 15px 30px 15px 30px;
    box-shadow: -7px 5px 20px -10px rgba(19, 41, 61, 0.75);
}
  
.alphabetChart {
    margin-top: 1em;
    background-color: #f4f4f4;
    padding: 0.5em;
    border-radius: 20px 40px 20px 40px ;
    box-shadow: -7px 5px 20px -10px rgba(19, 41, 61, 0.75);
}
.challengesTitle {
  margin-top: 1em;
  margin-bottom: 1.5em;
  display:flex;
  flex-direction: row;
  align-items: flex-end;
}
.challengesTitle > h2{
    font-family: "Boogaloo", sans-serif;
    font-size: 2em;
    color: $abc-primary-2;
}
.challengesTitle > svg{
  margin-bottom: 10px;
}

@media (max-width: 1027px){     
  .studentShow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 9em auto;
    grid-column-gap: 4px;
    grid-row-gap: 40px;
  }
  .studentShow .titleSection {
    grid-area: 1 / 1 / 2 / 3;
  }
  
  .studentShow .emptyState {
    grid-area: 2/ 1/ 4/ 4;
    justify-self: center;
  }

  .studentShow .intro {
    z-index: 4;
    color: $abc-primary-4;
    grid-area: 3/ 2 /4 /4;
    padding: 20px;
    border-radius: 40px 20px;
  }

  .studentShow .addChallenge {
      grid-area: 2 / 1 / 4 / 2;
      z-index: 4;
  }

  .studentShow .studentChart {
    grid-area: 3 / 1 / 5 / 4;
    margin-top: 1em;
  }

  .studentShow .alphabetChart {
    grid-area: 5/ 1 / 7 / 4;
    display: none;
  }

  .studentShow .challengeList {
    grid-area: 7 / 1 / 8 / 4;
  }

  .addChallenge svg{
    display: none;
  }

}
  
  @media (min-width: 1028px){          
      .studentShow {
        display: grid;
        grid-template-columns: minmax(100px, 1fr) auto repeat(3, 1fr);
        grid-template-rows: 140px repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 0.8em;
        grid-row-gap: 1em;
      }
  
      .studentShow .titleSection {
          grid-area: 1 / 1 / 2 / 3;
          z-index: 4;
      }

      .studentShow .emptyState {
        grid-area: 1/ 3/ 4/ 6;
        justify-self: center;
        svg {
          width: 500px;
          height: 500px;
        }
      }

      .intro {
        grid-area: 2 / 3/ 3/ 5;
        justify-self: flex-end;
        border-radius: 90px 60px;
        margin-top: 150px;
        max-width: 600px;
        z-index: 4;
        padding: 40px;
      }
  
      .studentShow .addChallenge {
          grid-area: 2 / 1 / 3/ 2;
          justify-self: flex-start;
      }
  
      .studentShow .studentChart {
          grid-area: 1 / 3 / 3 / 6;
          max-height: 31.25em;
          margin-top: 4em;
          border-radius: 50px 10px 50px 10px;
      }
  
      .studentShow .alphabetChart {
        grid-area: 3 / 1 / 5 / 6;
        padding: 1.5em;
        min-height: 20em;
      }
  
      .studentShow .challengeList {
        grid-area: 5 / 1 / 6 / 6;
      }
  }
  