.transitionFrom {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fromForm {
    border: 1px solid black;
    min-height: 21em;
    min-width: 21em;
    max-height: 36em;
    max-width: 42em;
    padding: 4em;
    margin-bottom: 5em;
    border-radius: 3px;
}

@media (min-width: 1280px){

    .fromForm {
        width: 42em;
        height: 25em;
    }
}
