.transitionTo {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toForm {
    min-height: 21em;
    min-width: 21em;
    max-height: 25em;
    max-width: 31.25em;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 4em 4em 6em 4em;
    margin-bottom: 5em;
    border-radius: 10px 60px;
    background: #fff;
    box-shadow:
    0 2.2px 2.7px rgba(0, 0, 0, 0.028),
    0 5px 7px rgba(0, 0, 0, 0.042);
}

.toForm > *{
    font-family: "Lato", sans-serif;   
    font-size: 18px;
    color:#16324f;
}

.buttonFields {
    position: relative;
}

.buttonFields :nth-last-child(2) {
    color:#f97116;
    position: absolute;
    bottom: 0;
    left: 0;
}