.sign-up {
    margin-top: 2.5em;
    background-color: #fff;
}

.sign-in {
    margin-top: 2.5em;
    background-color: #fff;
}

.home{
    display: grid;
    grid-template-columns: repeat(5, minmax(150px,1fr));
    grid-template-rows: repeat(5, minmax(150px,1fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: 'Lato', sans-serif;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-20px);} 
  60% {transform: translateY(-10px);}
}

.tabs {
    grid-area: 2 / 4 / 5 / 5;
    position: relative;
    min-height: 300px; 
    min-width: 400px;
    max-width: 400px;
    max-width: 500px;
    clear: both;
    margin: 0.5em 0;
  }

  .tabs{
    animation: 1s ease-in-out 0s 1 slideInFromTop;
  }

  .tab {
    float: left;
  }
  .tab > label {
    background:  #F9B689;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px 5px 0 0;
    margin-left: -1px;
    position: relative;
    left: 1px;
    font-size: 18px;
  }
  .tab [type="radio"] {
    display: none;
  }

  .home input[type="text"], 
  .home input[type="email"],
  .home input[type="password"] {
    font-family: "Lato", sans-serif;
    border: 1px solid #cee5df;
    border-radius: 4px 15px 4px 4px;
    font-size: 18px;
    margin: 0;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #f4f4f4;
    color:#fff;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.05) inset;
    box-shadow: 0 2px 0 rgba(0,0,0,0.05) inset;
    margin-bottom: 20px;
  }

  .other-links a {
      text-decoration: underline;    
      color: #222;
  }
  
  .tabs > button, [type="submit"]{
    background-color: #a2e5d4;
    float: right;
    padding: 8px;
    border-radius: 3px;
    box-shadow:0 2.2px 2.7px rgba(0, 0, 0, 0.028);
    cursor: pointer;
  }

  .content {                                                    
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 25px;
    overflow: hidden;
    border-top: 1px #fa8334 solid;
    border-radius: 0 90px 10px;
    box-shadow:
    0 2.2px 2.7px rgba(0, 0, 0, 0.028),
    0 5px 7px rgba(0, 0, 0, 0.042);
  }
 
  .content > * {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.6s ease-in-out;
  }
  [type="radio"]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type="radio"]:checked ~ label ~ .content {
    z-index: 1;
  }
  [type="radio"]:checked ~ label ~ .content > * {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: 768px){
    .home{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .tabs {
        margin: 20px 30px; 
        height: 500px; 
        width: 350px;
      }
  }